  <head>
    <meta charset="utf-8">
    <title>Pool creation</title>
    <script src="../static/create_pool.js" defer></script>
  </head>
  <body>
    <div class="title_container">
      <form id="pool-form" action="/process_pool_creation" method="post"> <!-- #TODO - appear on button and form popup -->
        <label for="name">Title:</label><br>
        <input type="text" id="title" name="title" required><br>
        <label for="group">Group:</label><br>
        <select name="group_" id="group" required></select><br>
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description"><br>
        <input type="hidden" name="creator" value="{{ email }}">
        <label for="optionNames">Options:</label><br>
        <input type="text" id="optionNames" name="optionNames" required><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
  <script type="text/javascript">
    user = JSON.parse('{{email|tojson|safe}}')
    groups = JSON.parse('{{groups|tojson|safe}}')
  </script>
</html>