  <head>
    <meta charset="utf-8">
    <title>poll creation</title>
    <script src="../static/create_poll.js" defer></script>
  </head>
  <body>
    <div class="title_container">
      <form id="poll-form" action="/process_poll_creation" method="post"> <!-- #TODO - appear on button and form popup -->
        <label for="name">Title:</label><br>
        <input type="text" id="title" name="title" required><br>
        <label for="group">Group:</label><br>
        <select name="group_" id="group" required></select><br>
        <label for="description">Description(optional):</label><br>
        <input type="text" id="description" name="description"><br>
        <input type="hidden" name="creator" value="{{ email }}">
        <label for="optionNames">Options:</label><br>
        <input type="text" id="optionNames" name="optionNames" required><br><br>
        <label for="duration">Duration(Days):</label><br>
        <input name="duration" id="duration" type="range" min="1" max="7" step="1" value="1" oninput="this.nextElementSibling.value = this.value">
        <output>1</output>
        </input><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
  <script type="text/javascript">
    groups = JSON.parse('{{groups|tojson|safe}}')
  </script>
</html>