<html>
  <head>
    <meta charset="utf-8">
    <title>User Page</title>
    <link rel="stylesheet" href="../static/styles/group.css">
    <script src="../static/group.js" defer></script>
  </head>

  <body>
    <a href="{{url_for('main_page')}}"><img src="../static/img/back-arrow.png" alt="return"></a>
    <div id="basic-info"></div>
    <div id="buttonsContainer"></div>
  </body>
  <script type="text/javascript">
    user = JSON.parse('{{user|tojson|safe}}')
    group = JSON.parse('{{group|tojson|safe}}')
    users = JSON.parse('{{users|tojson|safe}}')
    admin = JSON.parse('{{admin|tojson|safe}}')
    extended = JSON.parse('{{extended|tojson|safe}}')
    group_users = JSON.parse('{{group_users|tojson|safe}}')
  </script>
</html>