<html>
  <head>
    <meta charset="utf-8">
    <title>User Page</title>
    <script src="../static/group.js" defer></script>
    <style>
      #buttonsContainer {
        display: flex;
        flex-direction: column;
      }

      button {
        padding: 10px 20px;
        margin: 10px;
        width: 100px;
        background-color: lightgray;
        border: none;
        cursor: pointer;
      }
      
      .selected {
        background-color: blue;
        color: white;
      }
    </style>
  </head>

  <body>
    <div id="basic-info"></div>
    <div id="extended-info"></div>
    <!-- Search bar and submit button -->

    <!-- Container for the buttons -->
    <div id="buttonsContainer"></div>
  </body>
  <script type="text/javascript">
    user = JSON.parse('{{user|tojson|safe}}')
    group = JSON.parse('{{group|tojson|safe}}')
    users = JSON.parse('{{users|tojson|safe}}')
    admin = JSON.parse('{{admin|tojson|safe}}')
    extended = JSON.parse('{{extended|tojson|safe}}')
  </script>
</html>