  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styles/index.css">
    <title>Vote</title>
  </head>
  <body>
    <a href="{{url_for('index')}}"><img src="./static/img/vote-icon.png" alt="return"></a>
    <div class="container">
      <div class="title_container">
        <h1>Vote</h1>
      </div> 
      <div class="buttons-wrapper">
        <a href="{{url_for('register')}}"><button id="register_button">Register</button></a>
        <a href="{{url_for('login')}}"><button id="login_button">Login</button></a>
      </div>
      <div class="site-description">
        <ul>
          <li>Create votes</li>
          <li>Join groups</li>
          <li>Open source</li>
          <li>Follow us at <a href="https://github.com/DotanElse/Vote">Github</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>