<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles/main.css">
    <script src="../static/main_page.js" defer></script>
  </head>
  <body>
    <!-- <div class="title_container">
      <h2>Attributes and main feed of site</h2>
    </div>
    <a href="{{url_for('create_poll')}}"><button id="create_poll_button">Create New Form</button></a>
    <a href="{{url_for('create_group')}}"><button id="create_group_button">Create New Group</button></a>
    <div id="votes-wrapper"></div> -->
    <div id="menu">
      <div class="left">
      <div id="nested-left">
        <div id="profile-pic">USER PIC WILL BE HERE</div>
        <div id="username-plate"> {{ username }}</div>
        <div id="logout">
        <img src="./static/img/logout-icon.png" alt="logout icon">
        </div>
      </div>
      </div>
      <div class="middle">
      <div id="nested-middle">
        <div id="new-vote-icon">
          <a href="{{url_for('create_poll')}}"><img src="./static/img/new-vote-icon.png" alt="New vote icon"></a>
        </div>
        <div id="search-bar-wrapper">
          <input type="text" placeholder="Search.." name="search" id="search-bar">
        </div>
        <div id="search-bar-icon">
          <img src="./static/img/search-icon.png" alt="Search bar icon">
        </div>
      </div>
      </div>
      <div class="right">
      <div id="nested-right">
        <div id="vote-icon">
        <img src="./static/img/vote-icon.png" alt="Vote logo">
        </div>
      </div>
      </div>
    </div>
    <div id="main">
      <div class="left">
        <div id="groups-wrapper"></div>
      </div>
      <div class="middle">
        <div id="votes-wrapper"></div>
      </div>
      <div class="right">
        <div id="notifications-wrapper"></div>
      </div>
    </div>

  </body>
  <script type="text/javascript">
    id = JSON.parse('{{id|tojson|safe}}')
    username = JSON.parse('{{username|tojson|safe}}')
    groups = JSON.parse('{{groups|tojson|safe}}')
    polls = JSON.parse('{{polls|tojson|safe}}')
    voted = JSON.parse('{{voted|tojson|safe}}')
    notifications = JSON.parse('{{notifications|tojson|safe}}')
    create_poll_url = "{{url_for('create_group')}}"
  </script>
</html>