  <head>
    <meta charset="utf-8">
    <title>Vote</title>
    <script src="../static/main_page.js" defer></script>
  </head>
  <body>
    <div class="title_container">
      <h2>Attributes and main feed of site</h2>
    </div>
    <a href="{{url_for('create_poll')}}"><button id="create_poll_button">Create New Form</button></a>
    <div>{{ polls }}</div> <!-- #TODO - make it pretty -->
  </body>
  <script type="text/javascript">
    user = JSON.parse('{{user|tojson|safe}}')
    pools = JSON.parse('{{polls|tojson|safe}}')
  </script>
</html>